div{
  text-align: center;
  display: flex;
  flex-direction:column  ;
  
}
label{
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}
input[type='text']{
  width: 200px;
  padding:10px;
  margin-bottom: 10px;
  border: 1px solid rgb(51, 149, 21);
  border-radius: 5px;
}
button{
  padding:10px 15px;
  background-color: lime;
  border-radius:5px;
  color:black;
  font-weight: bolder;

}
button:hover{
background-color: limegreen ;
}
/* Small screens (mobile devices) */
@media screen and (max-width: 600px) {
  /* Add your responsive styles here */
  /* For example: */
  body {
    font-size: 14px;
    background-color: blueviolet;
    font-weight: bolder;
  }
}

/* Medium screens (tablets) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* Add your responsive styles here */
  body {
    background-color:grey;
    font-weight:bolder;
    
}
/* Large screens (desktops) */
@media screen and (min-width: 1025px) {
  /* Add your responsive styles here */
  body {
    background-color:purple;
    font-weight: bolder;
}



  
